<div class="content_header">
  <%= link_to "Words", words_path, class: "btn btn-primary btn-custom" %>
  <span>
    <%= link_to "Lessons", courses_path, class: "btn btn-primary btn-custom" %>
  </span>
</div>
