<div class = "course_item">
	<div class = "item_header">
		<%= link_to course.name, course %>
	</div>
	<div class = "item_content">
		<%= course.content %>
	</div>
  <%= link_to "Start", course, class: "btn btn-lg btn-primary" %>	
</div>