<% provide(:title, 'Make new course') %>

<div class = "col-md-8 col-md-offset-2">
  <%= form_for(@course) do |f| %>
    <%= render 'course_fields', f: f %>

    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>