<div class = "course_item">
	<div class = "item_header">
		<%= @course.name %>
	</div>
	<div class = "item_content">
		<%= @course.content %>
	</div>
  <%= link_to "Start", '#', class: "btn btn-lg btn-primary" %>	
</div>